<ion-header>
  
  <ion-toolbar>

    <ion-grid>
      
      <ion-row>
      
        <ion-col>

          <h1>DesktopHeader</h1>

        </ion-col>

        <!-- Navigators Icons -->
        <ion-col>
        
          <ion-grid>

            <ion-row>

              <ion-col>
                <ion-item [routerLink]="['lessons']">
                  <ion-icon name="cafe"></ion-icon>
                  <ion-label>Fist</ion-label>
                </ion-item>
              </ion-col>
              
              <ion-col>
                <ion-item>
                  <ion-icon name="cafe"></ion-icon>
                  <ion-label>Second</ion-label>
                </ion-item>
              </ion-col>
              
              <ion-col>
                <ion-item>
                  <ion-icon name="cafe"></ion-icon>
                  <ion-label>Third</ion-label>
                </ion-item>
              </ion-col>
            
            </ion-row>

          </ion-grid>
        
        </ion-col>

      </ion-row>
   
    </ion-grid>

  </ion-toolbar>

</ion-header>