<ion-header>
  
  <ion-toolbar>

    <ion-grid>
      
      <ion-row>
      
        <ion-col>
        
            <h1 [routerLink]="['home']">DesktopHeader</h1>
          
        </ion-col>

        <!-- Navigators Icons -->
        <ion-col>

          <ion-segment color="tertiary">

            <ion-segment-button [routerLink]="['teacher-info']">
              <ion-label color="tertiary">Your Teacher</ion-label>
              <ion-icon color="tertiary" name="cafe"></ion-icon>
            </ion-segment-button>

            <ion-segment-button [routerLink]="['lessons']">
              <ion-label color="tertiary">Lessons</ion-label>
              <ion-icon color="tertiary" name="cafe"></ion-icon>
            </ion-segment-button>
            
            <ion-segment-button [routerLink]="['testimonials']">
              <ion-label color="tertiary">Testimonials</ion-label>
              <ion-icon color="tertiary" name="cafe"></ion-icon>
            </ion-segment-button>
          
            <ion-segment-button [routerLink]="['buy-lessons']">
              <ion-label color="tertiary">Buy Lessons</ion-label>
              <ion-icon  color="tertiary"name="cafe"></ion-icon>
            </ion-segment-button>

            <ion-segment-button [routerLink]="['contact']">
              <ion-label color="tertiary">Contact</ion-label>
              <ion-icon color="tertiary" name="cafe"></ion-icon>
            </ion-segment-button>
          
          </ion-segment>

        </ion-col>

      </ion-row>
   
    </ion-grid>

  </ion-toolbar>

</ion-header>