<ion-header>
  
  <ion-grid>
    
    <ion-row>
    
      <ion-col>
   
        <ion-menu menuId="first" contentId="content1" >
          <ion-header>
            <ion-toolbar color="danger">
              <ion-title>Start Menu</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <ion-item>Menu Item</ion-item>
              <ion-item>Menu Item</ion-item>
              <ion-item>Menu Item</ion-item>
              <ion-item>Menu Item</ion-item>
              <ion-item>Menu Item</ion-item>
            </ion-list>
          </ion-content>
        </ion-menu>
        
      </ion-col>

      <ion-col>
        <app-logo></app-logo>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-header>